<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <!-- aos -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <!-- my -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="page-header">

    <div class="container-fluid">
      <div class="row d-flex">
        <!-- <div class="col-2"> -->
          <div class="page__logoBox">
            <h1 class="logoBox__logo mb-3"><a href="#"><img src="./assets/images/logo.png" alt="logo"></a></h1>
            <h5 class="logoBox__txt text-center text-gray-darken">優禮服務</h5>
          </div>
        <!-- </div> -->
        <ul class="header__nav  d-flex justify-content-end align-items-center">
          
          <li class="nav__item mr-4">
            <a class="nav__link" href="#">企業理念</a>
          </li>
          <li class="nav__item mr-4">
            <a class="nav__link" href="#">沿革</a>
          </li>
          <li class="nav__item mr-4">
            <a class="nav__link" href="#">禮儀服務</a>
          </li>
          <li class="nav__item mr-4">
            <a class="nav__link" href="#">公開資訊文件</a>
          </li>
          <li class="nav__item mr-4">
            <a class="nav__link" href="#">相關網站連結</a>
          </li>
          <li class="nav__item">
            <a class="nav__link  callMe  rounded-pill" href="#"><i
                class="fas fa-phone-alt mr-1"></i>客服專線：03-523-9595</a>
          </li>
        </ul>
      </div>
    </div>
  </header>


  <%- contents %>

  <footer class="footer">
    footer
  </footer>
  <!-- 外掛 -->
  <script src="./assets/js/vendors.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- 外掛自訂 -->
  <script src="./assets/js/helpers/swiper.js"></script>
  <!-- 自訂 -->
  <script src="./assets/js/all.js"></script>
</body>

</html>