//工具
.h--half-space{
    height: calc(50% - 10px);
}
.w--half-space{
    width: calc(50% - 10px);
}
.top-0{
    top: 0;
}
.bottom-0{
    bottom: 0;
}
.section__bg{
    z-index: -1;
}
.rounded-1{
    border-radius: 8px;
}
.rounded-y-1{
    border-radius: 8px 0px;
}
.rounded-x-1{
    border-radius: 0px 8px;
}
.rounded-tl-1{
    border-radius: 8px 0px 0px 0px;
}
.rounded-tr-1{
    border-radius: 0px 8px 0px 0px;
}
.rounded-bl-1{
    border-radius: 0px 0px 8px 0px;
}
.rounded-br-1{
    border-radius: 0px 0px 0px 8px;
}

.bg--cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.text--column{
writing-mode: vertical-lr;
text-orientation: upright;
}
.dash-line{
width: 100%;
height: 1px;
background-image: linear-gradient(to right, #ccc 0%, #ccc 50%, transparent 50%);
background-size: 8px 1px;
background-repeat: repeat-x;
}
